# Mini Projeto 1

### Nome: Carlos Felipe Mothé Zarour
### Nome: Allan dos Santos Vilela
### Nome: Enzo Hernandes Silvério

## 1 - Carregar os arquivos de cadastro, investimento1 e investimento2, e mostrar a quantidade de linhas de cada um, além das informações desses dataframes (por exemplo, o tipo dos dados das coluna)

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
pd.options.display.max_columns = 35 #para aumentar a quantidade de colunas a serem visualizadas

In [2]:
cadastro = pd.read_csv('https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/cadastro.csv')
invest1 = pd.read_csv('https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/investimento_parte1.csv')
invest2 = pd.read_csv('https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/investimento_parte2.csv')

In [3]:
cadastro

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS
...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL

In [4]:
cadastro.dtypes

id          object
Nome        object
Sexo        object
Nasc        object
Idade        int64
Email       object
Lat_long    object
Job         object
Estado      object
dtype: object

In [5]:
invest1

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852
3,id0036705,$23.26,Moderado,1185.26,4782.17,2669.05,14047.87,6026.84,2064.09,489.82,14.246718,29.271206
4,id0001368,$6.31,Conservador,957.64,5585.52,NaN,5067.08,4030.51,2022.61,507.39,5.922253,11.840601
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,id0027243,$334.62,Conservador,1406.60,5314.55,3166.72,22356.01,4993.03,NaN,508.21,NaN,81.009106
19996,id0027322,$281.18,Agressivo,857.37,6045.98,3052.01,11084.71,4678.42,NaN,506.94,48.641983,NaN
19997,id0037205,$464.70,Agressivo,NaN,NaN,3655.41,13124.58,5579.33,2188.45,511.30,74.618662,80.220031
19998,id0010187,$940.72,Conservador,1416.94,4772.79,3049.52,21053.61,6532.92,NaN,486.77,2.464077,55.905051
19999,id0009375,$56.39,Moderado,812.14,5461.14,3455.45,28370.73,4468.04,NaN,509.97,8.931671,49.578415

In [6]:
invest1.dtypes

id          object
Salario     object
Perfil      object
Ativo01    float64
Ativo02    float64
Ativo03    float64
Ativo04    float64
Ativo05    float64
Ativo06    float64
Ativo07    float64
Nota1      float64
Nota2      float64
dtype: object

In [7]:
invest2

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000859,$51483.81,Agressivo,1273.95,5080.37,3565.44,NaN,5635.72,NaN,513.38,47.599278,7.057028
1,id0022202,$457.43,Conservador,1121.09,4927.51,3911.58,5511.70,5593.40,NaN,497.28,37.353757,61.516665
2,id0002056,$93245.46,Moderado,NaN,5283.71,2914.76,NaN,4707.33,NaN,499.06,98.895407,45.197866
3,id0005674,$3044.00,Agressivo,1353.76,5827.28,2998.24,16341.70,4712.65,2007.44,515.10,50.658089,65.660735
4,id0004777,$880.30,Agressivo,NaN,5695.77,3525.98,NaN,4147.29,NaN,506.77,72.993882,55.530580
...,...,...,...,...,...,...,...,...,...,...,...,...
24047,id0018222,$615.87,Conservador,933.65,5741.80,4031.59,6336.84,NaN,NaN,486.19,NaN,34.151046
24048,id0005515,$212.76,Conservador,1624.80,NaN,2689.68,21886.01,4571.79,NaN,497.47,93.032164,93.621515
24049,id0009893,$9.32,Agressivo,829.20,NaN,3831.45,NaN,4784.34,2143.79,485.33,3.120521,9.086454
24050,id0016100,$81796.74,Conservador,1587.47,4881.66,4352.03,10391.18,4695.44,2465.65,492.84,95.665966,30.164927
24051,id0027880,$38480.37,Agressivo,996.90,5604.43,2801.04,9183.62,6220.96,NaN,503.24,55.035639,57.691996

In [8]:
invest2.dtypes

id          object
Salario     object
Perfil      object
Ativo01    float64
Ativo02    float64
Ativo03    float64
Ativo04    float64
Ativo05    float64
Ativo06    float64
Ativo07    float64
Nota1      float64
Nota2      float64
dtype: object

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [9]:
inv = [invest1,invest2]
investimento = pd.concat(inv)

In [10]:
investimento

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852
3,id0036705,$23.26,Moderado,1185.26,4782.17,2669.05,14047.87,6026.84,2064.09,489.82,14.246718,29.271206
4,id0001368,$6.31,Conservador,957.64,5585.52,NaN,5067.08,4030.51,2022.61,507.39,5.922253,11.840601
...,...,...,...,...,...,...,...,...,...,...,...,...
24047,id0018222,$615.87,Conservador,933.65,5741.80,4031.59,6336.84,NaN,NaN,486.19,NaN,34.151046
24048,id0005515,$212.76,Conservador,1624.80,NaN,2689.68,21886.01,4571.79,NaN,497.47,93.032164,93.621515
24049,id0009893,$9.32,Agressivo,829.20,NaN,3831.45,NaN,4784.34,2143.79,485.33,3.120521,9.086454
24050,id0016100,$81796.74,Conservador,1587.47,4881.66,4352.03,10391.18,4695.44,2465.65,492.84,95.665966,30.164927
24051,id0027880,$38480.37,Agressivo,996.90,5604.43,2801.04,9183.62,6220.96,NaN,503.24,55.035639,57.691996

## 3 - Crie um novo dataframe eliminando as linhas duplicadas do item anterior

In [11]:
investimento = investimento.drop_duplicates()

In [12]:
investimento

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852
3,id0036705,$23.26,Moderado,1185.26,4782.17,2669.05,14047.87,6026.84,2064.09,489.82,14.246718,29.271206
4,id0001368,$6.31,Conservador,957.64,5585.52,NaN,5067.08,4030.51,2022.61,507.39,5.922253,11.840601
...,...,...,...,...,...,...,...,...,...,...,...,...
24046,id0012328,$86268.66,Moderado,804.92,4520.13,3388.55,18396.16,NaN,NaN,504.90,97.685833,70.195608
24048,id0005515,$212.76,Conservador,1624.80,NaN,2689.68,21886.01,4571.79,NaN,497.47,93.032164,93.621515
24049,id0009893,$9.32,Agressivo,829.20,NaN,3831.45,NaN,4784.34,2143.79,485.33,3.120521,9.086454
24050,id0016100,$81796.74,Conservador,1587.47,4881.66,4352.03,10391.18,4695.44,2465.65,492.84,95.665966,30.164927
24051,id0027880,$38480.37,Agressivo,996.90,5604.43,2801.04,9183.62,6220.96,NaN,503.24,55.035639,57.691996

## 4 - Junte o dataframe de investimento com o de cadastro, criando um novo dataframe
## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [13]:
cadastro_invest = pd.merge(cadastro, investimento, how='outer' , on='id')

In [14]:
cadastro_invest

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,NaN,8454.99,NaN,2191.78,489.76,66.644257,6.462871
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,NaN,6733.79,2338.43,504.32,32.139610,22.742974
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,NaN,5532.35,2861.32,NaN,4921.77,2024.00,500.65,98.385080,56.611838
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,NaN,18085.88,5161.07,2257.66,507.95,29.660050,47.371606

In [15]:
cadastro_invest.isnull().sum()

id              0
Nome            0
Sexo            0
Nasc            0
Idade           0
Email           0
Lat_long        0
Job             0
Estado          0
Salario         0
Perfil          0
Ativo01      9724
Ativo02      6100
Ativo03      6169
Ativo04     11887
Ativo05      6191
Ativo06     19514
Ativo07         0
Nota1        3000
Nota2        2000
dtype: int64

## 6 - Faça uma análise dos dados faltantes e trate-os

In [16]:
total = cadastro_invest.isnull().sum().sort_values(ascending=True)
percent = (cadastro_invest.isnull().sum()/cadastro_invest.isnull().count()).sort_values(ascending=True)
missing_data = pd.concat([total, percent], axis=1, keys=['Total','Percent']) * 100
missing_data

            Total    Percent
id              0   0.000000
Ativo07         0   0.000000
Perfil          0   0.000000
Estado          0   0.000000
Job             0   0.000000
Lat_long        0   0.000000
Salario         0   0.000000
Idade           0   0.000000
Nasc            0   0.000000
Sexo            0   0.000000
Nome            0   0.000000
Email           0   0.000000
Nota2      200000   5.160758
Nota1      300000   7.741136
Ativo02    610000  15.740311
Ativo03    616900  15.918357
Ativo05    619100  15.975125
Ativo01    972400  25.091603
Ativo04   1188700  30.672963
Ativo06   1951400  50.353512

In [17]:
cadastro_invest.isnull().sum()

id              0
Nome            0
Sexo            0
Nasc            0
Idade           0
Email           0
Lat_long        0
Job             0
Estado          0
Salario         0
Perfil          0
Ativo01      9724
Ativo02      6100
Ativo03      6169
Ativo04     11887
Ativo05      6191
Ativo06     19514
Ativo07         0
Nota1        3000
Nota2        2000
dtype: int64

In [18]:
values = {'Ativo01': 0, 'Ativo02': 0,'Ativo03': 0,'Ativo04': 0,'Ativo05': 0,'Ativo06': 0}
cadastro_invest.fillna(value=values, inplace=True)

In [19]:
cadastro_invest.isnull().sum()

id             0
Nome           0
Sexo           0
Nasc           0
Idade          0
Email          0
Lat_long       0
Job            0
Estado         0
Salario        0
Perfil         0
Ativo01        0
Ativo02        0
Ativo03        0
Ativo04        0
Ativo05        0
Ativo06        0
Ativo07        0
Nota1       3000
Nota2       2000
dtype: int64

In [20]:
cadastro_invest['Nota1'].fillna(method = 'ffill' , inplace=True)
cadastro_invest['Nota2'].fillna(method = 'ffill' , inplace=True)

In [21]:
cadastro_invest.isnull().sum()

id          0
Nome        0
Sexo        0
Nasc        0
Idade       0
Email       0
Lat_long    0
Job         0
Estado      0
Salario     0
Perfil      0
Ativo01     0
Ativo02     0
Ativo03     0
Ativo04     0
Ativo05     0
Ativo06     0
Ativo07     0
Nota1       0
Nota2       0
dtype: int64

## 7 - Manipule os dados a seguir:

### Criar coluna "Total" somando o valor de todos os ativos por investidor

In [22]:
cadastro_invest['Total'] = cadastro_invest['Ativo01'] + cadastro_invest['Ativo02'] + cadastro_invest['Ativo03'] + cadastro_invest['Ativo04'] + cadastro_invest['Ativo05'] + cadastro_invest['Ativo06'] + cadastro_invest['Ativo07']

In [23]:
cadastro_invest

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28

### Criar coluna "Media" com a média das notas 1 e 2

In [24]:
cadastro_invest['Media'] = (cadastro_invest['Nota1'] + cadastro_invest['Nota2']) /2

In [25]:
cadastro_invest

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.701496
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.459882
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.540483
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.073421
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.014800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36.553564
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84.660162
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27.441292
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77.498459
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38.515828

### Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)

In [26]:
cadastro_invest['Dominio'] = cadastro_invest['Email'].str.split('@').str.get(1)

In [27]:
cadastro_invest

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.701496,yahoo.com
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.459882,yahoo.com
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.540483,yahoo.com
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.073421,hotmail.com
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.014800,yahoo.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36.553564,gmail.com
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84.660162,hotmail.com
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27.441292,yahoo.com
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77.498459,gmail.com
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38.515828,hotmail.com

### Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter e tipo numérica)

In [28]:
cadastro_invest.rename(columns={'Salario' : 'Renda'}, inplace=True)
cadastro_invest['Renda'] = cadastro_invest['Renda'].str.split('$').str.get(1)
pd.to_numeric(cadastro_invest['Renda'])

0           63.67
1           21.96
2        62497.64
3        99878.74
4          188.01
           ...
38749     4993.49
38750    41218.63
38751       32.41
38752      914.52
38753    29076.19
Name: Renda, Length: 38754, dtype: float64

In [29]:
cadastro_invest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38754 entries, 0 to 38753
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
 9   Renda     38754 non-null  object
 10  Perfil    38754 non-null  object
 11  Ativo01   38754 non-null  float64
 12  Ativo02   38754 non-null  float64
 13  Ativo03   38754 non-null  float64
 14  Ativo04   38754 non-null  float64
 15  Ativo05   38754 non-null  float64
 16  Ativo06   38754 non-null  float64
 17  Ativo07   38754 non-null  float64
 18  Nota1     38754 non-null  float64
 19  Nota2     38754 non-null  float64
 20  Total     38754 non-null  float64
 21  Media     38754 non-null  float64
 22  Dominio   38754 non-null  object
dtypes: float64(11), int64(1), object(11)
memory usage: 7.1+ MB

### Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar a função map)

In [30]:
cadastro_invest['Sexo'] = cadastro_invest['Sexo'].map({'Fem':'Feminino' , 'Masc':'Masculino'}, na_action=None)

In [31]:
cadastro_invest

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.701496,yahoo.com
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.459882,yahoo.com
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.540483,yahoo.com
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.073421,hotmail.com
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.014800,yahoo.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36.553564,gmail.com
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84.660162,hotmail.com
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27.441292,yahoo.com
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77.498459,gmail.com
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38.515828,hotmail.com

### Transformar os dados da coluna Media em inteiro

In [32]:
cadastro_invest['Media'] = cadastro_invest['Media'].astype(int)

In [33]:
cadastro_invest

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44,yahoo.com
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67,yahoo.com
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54,yahoo.com
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36,gmail.com
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84,hotmail.com
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27,yahoo.com
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77,gmail.com
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38,hotmail.com

### Criar coluna "NPS" onde o investidor é classificado como promotor se a média das notas é maior ou igual a 80, como neutro se a média estiver entre 50 e 80, e como detrator se for abaixo de 50

In [34]:
cadastro_invest.loc[cadastro_invest['Media'] >= 80, 'NPS'] = 'Promotor'
cadastro_invest.loc[cadastro_invest['Media'] < 80 , 'NPS'] = 'Neutro'
cadastro_invest.loc[cadastro_invest['Media'] <50, 'NPS'] = 'Detrator'

In [35]:
cadastro_invest

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44,yahoo.com,Detrator
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67,yahoo.com,Neutro
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54,yahoo.com,Neutro
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com,Neutro
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com,Detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36,gmail.com,Detrator
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84,hotmail.com,Promotor
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27,yahoo.com,Detrator
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77,gmail.com,Neutro
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38,hotmail.com,Detrator

## 8 - Calcule os seguintes dados

### Calcule o total investido em cada coluna Ativo (tente usar o apply)

In [36]:
#df['D'] = df.apply(custom_sum, axis=1) # ou df['D'] = df.apply(lambda row: row.sum(), axis=1) # apply em um dataframe

#cadastro_invest ["Total_Ativos"] = cadastro_invest.apply(lambda row: row.sum(), axis=1)
#cadastro_invest = cadastro_invest.drop(columns=['Total_Ativos']) #eliminar colunas

In [94]:
cadastro_invest[['Ativo01', 'Ativo02', 'Ativo03', 'Ativo04',
       'Ativo05', 'Ativo06', 'Ativo07']].sum()

Ativo01    3.275569e+07
Ativo02    1.680798e+08
Ativo03    1.023306e+08
Ativo04    4.071340e+08
Ativo05    1.720668e+08
Ativo06    4.462684e+07
Ativo07    1.937903e+07
dtype: float64

In [91]:
colunas_ativos = cadastro_invest.columns[3:10]
cadastro_invest[colunas_ativos].sum()

#df_clientes[colunas_ativos].sum()

Nasc        1970-11-122019-12-102015-12-281993-05-031984-0...
Idade                                                  996631
Email       djones@yahoo.combarnesandrea@yahoo.comwalkermi...
Lat_long    (Decimal('24.7024355'), Decimal('-28.038258'))...
Job         Technical authorBiochemist, clinicalDevelopmen...
Estado      TODFDFDFMSMSRORSDFRRRRCEMAPBPAMGMTRRACACRNPIGO...
Renda       63.6721.9662497.6499878.74188.01375.939.261.13...
dtype: object

### Qual o menor valor investido em cada ativo?
### Mostre a média e desvio padrão de cada ativo

In [37]:
cadastro_invest.describe()

,Idade,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media
count,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000,38754.000000
mean,25.716855,845.220878,4337.095701,2640.515840,10505.598580,4439.975773,1151.541631,500.052452,49.825949,50.100591,24420.000853,49.463126
std,14.918449,524.568525,1909.955896,1204.864694,9084.714705,2068.665605,1172.059182,9.998218,28.881634,28.857043,9674.695786,20.427665
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,462.930000,0.003143,0.003341,486.760000,0.000000
25%,13.000000,0.000000,4667.827500,2663.370000,0.000000,4320.465000,0.000000,493.300000,24.866721,25.182799,16470.232500,35.000000
50%,26.000000,999.165000,5003.595000,2995.925000,10138.740000,4997.265000,0.000000,500.130000,49.519791,50.109601,24065.910000,49.000000
75%,39.000000,1203.490000,5343.565000,3333.727500,16780.967500,5672.972500,2268.810000,506.830000,74.975164,75.032613,31074.705000,64.000000
max,51.000000,2143.050000,6990.260000,5212.550000,48744.740000,9052.260000,3639.650000,542.300000,99.996659,99.999535,64902.020000,99.000000

AttributeError: 'DataFrame' object has no attribute 'unique'

### Qual o nome e a idade do investidor mais velho?

In [95]:
cadastro_invest[(cadastro_invest['Idade'] == cadastro_invest['Idade'].max()) ]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44,yahoo.com,Detrator
30,id0000031,Jeniffer Vanessa de Fraga Rata,Feminino,1970-11-27,51,laura07@yahoo.com,"(Decimal('54.1538965'), Decimal('21.850098'))","Administrator, sports",AC,947.24,Conservador,990.45,5423.58,2500.01,19145.61,5017.83,0.00,497.67,38.423712,82.163237,33575.15,60,yahoo.com,Neutro
58,id0000059,Emanoel Uion,Masculino,1970-05-07,51,michael78@hotmail.com,"(Decimal('76.415150'), Decimal('-107.981899'))","Administrator, education",DF,0.23,Moderado,979.93,5368.77,3091.26,0.00,4311.24,0.00,493.05,77.215685,93.179561,14244.25,85,hotmail.com,Promotor
87,id0000088,Ronaldo da Silva do Paraná,Masculino,1970-12-02,51,ealvarez@gmail.com,"(Decimal('-8.149121'), Decimal('166.446255'))","Engineer, civil (consulting)",MG,799.44,Agressivo,1270.12,0.00,2677.67,9563.44,4028.14,2351.46,501.45,96.197775,17.868719,20392.28,57,gmail.com,Neutro
135,id0000136,Danilo da Paraíba,Masculino,1970-07-22,51,taylor16@gmail.com,"(Decimal('84.702976'), Decimal('-0.112091'))",Careers information officer,TO,49377.43,Conservador,986.24,5037.23,2570.39,0.00,5210.06,2607.65,481.85,26.340079,98.885184,16893.42,62,gmail.com,Neutro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38478,id0038479,Yeda Rosângela Rodrigues Torres,Feminino,1970-09-21,51,todddaniel@hotmail.com,"(Decimal('-2.6687495'), Decimal('-52.749393'))",Information systems manager,DF,33.72,Conservador,1175.96,6084.31,2621.16,0.00,5335.63,2812.99,504.05,7.784247,77.152448,18534.10,42,hotmail.com,Detrator
38521,id0038522,Otto Victor Eirnige,Masculino,1970-03-11,51,diane83@gmail.com,"(Decimal('-68.266938'), Decimal('71.666333'))",Community arts worker,AL,3.08,Moderado,913.35,0.00,2998.38,5806.07,5909.78,2809.55,488.30,59.419308,64.720693,18925.43,62,gmail.com,Neutro
38544,id0038545,Marta Arlete Schneider Marques de Iglesias,Feminino,1970-07-13,51,priceconnie@hotmail.com,"(Decimal('29.021867'), Decimal('-124.814336'))",Operational investment banker,AP,428.21,Moderado,0.00,5515.79,2567.71,16471.70,4121.22,2341.73,500.31,35.206208,76.358892,31518.46,55,hotmail.com,Neutro
38626,id0038627,Marina Fátima Guerra,Feminino,1970-03-09,51,kathryn77@yahoo.com,"(Decimal('-56.9637485'), Decimal('170.079265'))","Horticulturist, amenity",AC,66.02,Moderado,0.00,4558.90,3751.12,27446.41,0.00,2063.49,502.34,73.445589,60.854809,38322.26,67,yahoo.com,Neutro
38630,id0038631,Gilmar Jefason de Lemes,Masculino,1970-08-13,51,millerjames@hotmail.com,"(Decimal('83.1930665'), Decimal('-31.328438'))",Visual merchandiser,SC,1.28,Conservador,895.49,4855.01,3186.28,8469.22,6390.84,2610.63,511.27,74.182741,20.633111,26918.74,47,hotmail.com,Detrator

### Qual a mediana da coluna Média?

In [39]:
cadastro_invest["Media"].median()

49.0

## 9 - Responder as perguntas abaixo

### Quantos investidores são agressivos, moderados e conservadores?
#### Agressivos = 12975 investidores
#### Moderados = 12900 investidores
#### Conservadores = 12879 investidores

In [43]:
cadastro_invest[(cadastro_invest['Perfil'] == 'Conservador')]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com,Detrator
12,id0000013,Walter Nilo Dereson de Torquato Trevisan,Masculino,1973-10-27,48,susananthony@yahoo.com,"(Decimal('24.775200'), Decimal('-145.389694'))","Surveyor, commercial/residential",MA,46.69,Conservador,1876.13,4657.72,3040.72,0.00,7040.24,0.00,494.46,59.022735,5.802289,17109.27,32,yahoo.com,Detrator
16,id0000017,Washington Décio Miveman de Leite,Masculino,1983-01-16,38,loribush@hotmail.com,"(Decimal('88.021268'), Decimal('-108.458187'))",Plant breeder/geneticist,MT,32.66,Conservador,0.00,5056.66,3099.39,35984.01,5312.40,2016.40,503.70,12.950388,49.282343,51972.56,31,hotmail.com,Detrator
17,id0000018,Edivaldo Silvair de França Peke,Masculino,1978-06-22,43,jason73@yahoo.com,"(Decimal('5.382705'), Decimal('47.110770'))","Conservation officer, nature",RR,9116.26,Conservador,1240.09,0.00,3011.56,10840.44,4171.06,0.00,485.50,34.059700,61.151682,19748.65,47,yahoo.com,Detrator
24,id0000025,Ângela Ana de Arantes,Feminino,1976-10-10,45,freemanrichard@hotmail.com,"(Decimal('-89.0679925'), Decimal('-174.913507'))",Artist,GO,93006.48,Conservador,1683.70,5106.98,3630.18,0.00,4876.08,2219.70,491.03,32.547831,70.575475,18007.67,51,hotmail.com,Neutro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38735,id0038736,Arilda Marilúcia Cliaoã dos Santos,Feminino,2017-04-26,4,cwhite@yahoo.com,"(Decimal('4.7787255'), Decimal('119.479131'))","Designer, graphic",PA,6785.41,Conservador,0.00,5066.25,2679.62,0.00,7093.83,0.00,483.96,76.426957,83.713187,15323.66,80,yahoo.com,Promotor
38739,id0038740,Diana Andréia Gizsiu,Feminino,1984-11-11,37,johnrussell@gmail.com,"(Decimal('-39.972015'), Decimal('-118.995689'))",Medical physicist,ES,43.10,Conservador,1139.09,4922.99,0.00,6060.50,4517.58,2102.05,509.65,0.396150,57.935261,19251.86,29,gmail.com,Detrator
38744,id0038745,Samuel de Pacheco Jardim,Masculino,2001-10-02,20,igarcia@gmail.com,"(Decimal('-58.231959'), Decimal('77.052229'))",Hospital doctor,CE,665.70,Conservador,1185.48,5042.07,3642.97,0.00,4678.01,2597.51,497.62,24.872004,39.715707,17643.66,32,gmail.com,Detrator
38745,id0038746,Paula de Lemes,Feminino,1992-08-06,29,reynoldsjennifer@gmail.com,"(Decimal('-62.8648515'), Decimal('-177.577584'))",Trade union research officer,RJ,487.06,Conservador,1094.12,5618.90,3376.45,19323.07,6605.23,2164.76,510.60,63.315414,50.381290,38693.13,56,gmail.com,Neutro
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77,gmail.com,Neutro

In [44]:
cadastro_invest[(cadastro_invest['Perfil'] == 'Moderado')]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44,yahoo.com,Detrator
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67,yahoo.com,Neutro
6,id0000007,Andressa de Menezes,Feminino,2000-03-09,21,pdouglas@yahoo.com,"(Decimal('-15.3220025'), Decimal('-143.141478'))",Learning mentor,RO,9.26,Moderado,807.29,5160.75,3257.88,22760.80,6342.31,2450.48,490.12,11.933962,29.765772,41269.63,20,yahoo.com,Detrator
10,id0000011,Susan Espada,Feminino,1998-08-10,23,louis80@hotmail.com,"(Decimal('36.023380'), Decimal('-7.012638'))","Producer, radio",RR,6409.88,Moderado,0.00,5130.04,2925.34,23220.84,5157.39,2049.32,498.78,68.001128,7.204497,38981.71,37,hotmail.com,Detrator
14,id0000015,Shirley Magali dos Santos Ilil Brasil,Feminino,1985-09-25,36,ulevine@yahoo.com,"(Decimal('53.713752'), Decimal('-26.655324'))","Engineer, aeronautical",PA,52421.54,Moderado,1187.21,5349.16,3253.68,8638.89,5151.24,0.00,492.34,41.598180,15.227546,24072.52,28,yahoo.com,Detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38746,id0038747,José Micael Vuzflopuman Ie da Costa,Masculino,2011-07-12,10,burkeluke@gmail.com,"(Decimal('46.2004255'), Decimal('107.199098'))",Garment/textile technologist,TO,8857.70,Moderado,0.00,4742.40,2802.02,8943.34,4046.12,0.00,483.57,24.634183,69.651612,21017.45,47,gmail.com,Detrator
38747,id0038748,Giovanni Roberval de Torquato Arnmeto,Masculino,2011-09-17,10,smitchell@gmail.com,"(Decimal('89.9864195'), Decimal('-160.824918'))",Psychiatrist,AC,161.00,Moderado,805.89,0.00,3087.40,0.00,5538.47,2108.02,507.48,71.297295,21.679279,12047.26,46,gmail.com,Detrator
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36,gmail.com,Detrator
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84,hotmail.com,Promotor
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38,hotmail.com,Detrator

In [48]:
cadastro_invest[(cadastro_invest['Perfil'] == 'Agressivo')]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54,yahoo.com,Neutro
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com,Neutro
5,id0000006,Osório Mário de Parreira Sassoer Otremo,Masculino,1999-07-02,22,ramirezjennifer@yahoo.com,"(Decimal('74.407059'), Decimal('-24.460973'))",Press sub,MS,375.93,Agressivo,858.43,5628.75,0.00,13431.14,4409.81,0.00,492.03,79.692402,76.804162,24820.16,78,yahoo.com,Neutro
7,id0000008,Roger da Silva,Masculino,2012-12-04,9,idavis@hotmail.com,"(Decimal('26.852207'), Decimal('154.834424'))",Garment/textile technologist,RS,1.13,Agressivo,0.00,4538.11,3199.12,16247.26,0.00,2282.50,496.43,76.898096,43.554774,26763.42,60,hotmail.com,Neutro
8,id0000009,Paulo de Toledo,Masculino,1996-12-05,25,raymonderic@gmail.com,"(Decimal('6.098341'), Decimal('-156.689139'))","Designer, exhibition/display",DF,557.91,Agressivo,1166.91,4636.14,3430.73,18690.63,5040.74,2777.62,500.43,45.322387,62.157044,36243.20,53,gmail.com,Neutro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38736,id0038737,Valéria Riderogo,Feminino,2011-04-20,10,cblack@yahoo.com,"(Decimal('85.105431'), Decimal('-148.735518'))",Stage manager,PR,690.63,Agressivo,1206.30,5889.29,2557.06,0.00,5996.02,2390.90,502.78,74.126943,19.056026,18542.35,46,yahoo.com,Detrator
38740,id0038741,Fabíola do Paraná Vaoal,Feminino,1972-01-05,49,ycarlson@yahoo.com,"(Decimal('70.075201'), Decimal('100.066811'))",Chartered public finance accountant,MA,330.19,Agressivo,0.00,4752.65,0.00,0.00,5343.93,2244.89,496.97,9.345647,35.839981,12838.44,22,yahoo.com,Detrator
38741,id0038742,Érica Suzy Raeoã,Feminino,2000-06-01,21,elizabethrobinson@gmail.com,"(Decimal('2.8160925'), Decimal('-49.085082'))",Energy engineer,AL,14.35,Agressivo,803.03,4572.09,3600.20,17170.42,4283.66,0.00,501.33,93.844274,35.839981,30930.73,64,gmail.com,Neutro
38748,id0038749,Martin Mike Ocai,Masculino,1988-11-29,33,walshshelley@yahoo.com,"(Decimal('-7.399055'), Decimal('125.807816'))",Ranger/warden,MT,7172.41,Agressivo,988.55,4744.25,0.00,17341.08,4866.52,2049.56,498.69,52.664288,73.101865,30488.65,62,yahoo.com,Neutro
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27,yahoo.com,Detrator

### Mostre os 10 primeiros ids dos investidores de perfil Agressivo e Moderado.

In [97]:
cadastro_invest[(cadastro_invest['Perfil'] == 'Moderado') | (cadastro_invest['Perfil'] == 'Agressivo') ].head(10)

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44,yahoo.com,Detrator
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67,yahoo.com,Neutro
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54,yahoo.com,Neutro
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com,Neutro
5,id0000006,Osório Mário de Parreira Sassoer Otremo,Masculino,1999-07-02,22,ramirezjennifer@yahoo.com,"(Decimal('74.407059'), Decimal('-24.460973'))",Press sub,MS,375.93,Agressivo,858.43,5628.75,0.00,13431.14,4409.81,0.00,492.03,79.692402,76.804162,24820.16,78,yahoo.com,Neutro
6,id0000007,Andressa de Menezes,Feminino,2000-03-09,21,pdouglas@yahoo.com,"(Decimal('-15.3220025'), Decimal('-143.141478'))",Learning mentor,RO,9.26,Moderado,807.29,5160.75,3257.88,22760.80,6342.31,2450.48,490.12,11.933962,29.765772,41269.63,20,yahoo.com,Detrator
7,id0000008,Roger da Silva,Masculino,2012-12-04,9,idavis@hotmail.com,"(Decimal('26.852207'), Decimal('154.834424'))",Garment/textile technologist,RS,1.13,Agressivo,0.00,4538.11,3199.12,16247.26,0.00,2282.50,496.43,76.898096,43.554774,26763.42,60,hotmail.com,Neutro
8,id0000009,Paulo de Toledo,Masculino,1996-12-05,25,raymonderic@gmail.com,"(Decimal('6.098341'), Decimal('-156.689139'))","Designer, exhibition/display",DF,557.91,Agressivo,1166.91,4636.14,3430.73,18690.63,5040.74,2777.62,500.43,45.322387,62.157044,36243.20,53,gmail.com,Neutro
9,id0000010,Quirino Max dos Santos,Masculino,1974-02-08,47,patrick65@yahoo.com,"(Decimal('37.9226295'), Decimal('30.582043'))",Air broker,RR,801.24,Agressivo,1054.60,4753.33,3579.91,21298.94,4818.91,2027.57,500.59,53.824813,10.415551,38033.85,32,yahoo.com,Detrator
10,id0000011,Susan Espada,Feminino,1998-08-10,23,louis80@hotmail.com,"(Decimal('36.023380'), Decimal('-7.012638'))","Producer, radio",RR,6409.88,Moderado,0.00,5130.04,2925.34,23220.84,5157.39,2049.32,498.78,68.001128,7.204497,38981.71,37,hotmail.com,Detrator

### Quantos investidores são do sexo feminino?
#### R) 19385 investidores são do sexo feminino.

In [61]:
cadastro_invest[(cadastro_invest['Sexo'] == 'Feminino')]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44,yahoo.com,Detrator
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com,Neutro
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com,Detrator
6,id0000007,Andressa de Menezes,Feminino,2000-03-09,21,pdouglas@yahoo.com,"(Decimal('-15.3220025'), Decimal('-143.141478'))",Learning mentor,RO,9.26,Moderado,807.29,5160.75,3257.88,22760.80,6342.31,2450.48,490.12,11.933962,29.765772,41269.63,20,yahoo.com,Detrator
10,id0000011,Susan Espada,Feminino,1998-08-10,23,louis80@hotmail.com,"(Decimal('36.023380'), Decimal('-7.012638'))","Producer, radio",RR,6409.88,Moderado,0.00,5130.04,2925.34,23220.84,5157.39,2049.32,498.78,68.001128,7.204497,38981.71,37,hotmail.com,Detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38740,id0038741,Fabíola do Paraná Vaoal,Feminino,1972-01-05,49,ycarlson@yahoo.com,"(Decimal('70.075201'), Decimal('100.066811'))",Chartered public finance accountant,MA,330.19,Agressivo,0.00,4752.65,0.00,0.00,5343.93,2244.89,496.97,9.345647,35.839981,12838.44,22,yahoo.com,Detrator
38741,id0038742,Érica Suzy Raeoã,Feminino,2000-06-01,21,elizabethrobinson@gmail.com,"(Decimal('2.8160925'), Decimal('-49.085082'))",Energy engineer,AL,14.35,Agressivo,803.03,4572.09,3600.20,17170.42,4283.66,0.00,501.33,93.844274,35.839981,30930.73,64,gmail.com,Neutro
38742,id0038743,Michele Cecília Brasil de Freitas,Feminino,1986-10-03,35,kim25@hotmail.com,"(Decimal('0.6676755'), Decimal('-96.744816'))",Translator,MS,15668.49,Moderado,866.16,5419.12,3195.57,12875.06,4123.92,2047.02,489.82,73.318733,92.181903,29016.67,82,hotmail.com,Promotor
38745,id0038746,Paula de Lemes,Feminino,1992-08-06,29,reynoldsjennifer@gmail.com,"(Decimal('-62.8648515'), Decimal('-177.577584'))",Trade union research officer,RJ,487.06,Conservador,1094.12,5618.90,3376.45,19323.07,6605.23,2164.76,510.60,63.315414,50.381290,38693.13,56,gmail.com,Neutro
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36,gmail.com,Detrator

### Quantos investidores investiram mais de 16000 no Ativo04?
#### R) 10689 investidores

In [62]:
cadastro_invest[(cadastro_invest['Ativo04'] > 16000)]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com,Detrator
6,id0000007,Andressa de Menezes,Feminino,2000-03-09,21,pdouglas@yahoo.com,"(Decimal('-15.3220025'), Decimal('-143.141478'))",Learning mentor,RO,9.26,Moderado,807.29,5160.75,3257.88,22760.80,6342.31,2450.48,490.12,11.933962,29.765772,41269.63,20,yahoo.com,Detrator
7,id0000008,Roger da Silva,Masculino,2012-12-04,9,idavis@hotmail.com,"(Decimal('26.852207'), Decimal('154.834424'))",Garment/textile technologist,RS,1.13,Agressivo,0.00,4538.11,3199.12,16247.26,0.00,2282.50,496.43,76.898096,43.554774,26763.42,60,hotmail.com,Neutro
8,id0000009,Paulo de Toledo,Masculino,1996-12-05,25,raymonderic@gmail.com,"(Decimal('6.098341'), Decimal('-156.689139'))","Designer, exhibition/display",DF,557.91,Agressivo,1166.91,4636.14,3430.73,18690.63,5040.74,2777.62,500.43,45.322387,62.157044,36243.20,53,gmail.com,Neutro
9,id0000010,Quirino Max dos Santos,Masculino,1974-02-08,47,patrick65@yahoo.com,"(Decimal('37.9226295'), Decimal('30.582043'))",Air broker,RR,801.24,Agressivo,1054.60,4753.33,3579.91,21298.94,4818.91,2027.57,500.59,53.824813,10.415551,38033.85,32,yahoo.com,Detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38738,id0038739,Celina Faeima,Feminino,1981-12-04,40,garyluna@gmail.com,"(Decimal('44.091570'), Decimal('73.962037'))","Conservation officer, nature",AP,63.99,Moderado,1281.25,5684.06,2849.14,17078.58,4830.44,0.00,500.59,0.396150,52.045951,32224.06,26,gmail.com,Detrator
38741,id0038742,Érica Suzy Raeoã,Feminino,2000-06-01,21,elizabethrobinson@gmail.com,"(Decimal('2.8160925'), Decimal('-49.085082'))",Energy engineer,AL,14.35,Agressivo,803.03,4572.09,3600.20,17170.42,4283.66,0.00,501.33,93.844274,35.839981,30930.73,64,gmail.com,Neutro
38745,id0038746,Paula de Lemes,Feminino,1992-08-06,29,reynoldsjennifer@gmail.com,"(Decimal('-62.8648515'), Decimal('-177.577584'))",Trade union research officer,RJ,487.06,Conservador,1094.12,5618.90,3376.45,19323.07,6605.23,2164.76,510.60,63.315414,50.381290,38693.13,56,gmail.com,Neutro
38748,id0038749,Martin Mike Ocai,Masculino,1988-11-29,33,walshshelley@yahoo.com,"(Decimal('-7.399055'), Decimal('125.807816'))",Ranger/warden,MT,7172.41,Agressivo,988.55,4744.25,0.00,17341.08,4866.52,2049.56,498.69,52.664288,73.101865,30488.65,62,yahoo.com,Neutro
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38,hotmail.com,Detrator

### Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
#### R) 5374 investidores

In [67]:
cadastro_invest[(cadastro_invest['Ativo04'] > 16000) & (cadastro_invest ['Ativo05'] < 5000)]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
7,id0000008,Roger da Silva,Masculino,2012-12-04,9,idavis@hotmail.com,"(Decimal('26.852207'), Decimal('154.834424'))",Garment/textile technologist,RS,1.13,Agressivo,0.00,4538.11,3199.12,16247.26,0.00,2282.50,496.43,76.898096,43.554774,26763.42,60,hotmail.com,Neutro
9,id0000010,Quirino Max dos Santos,Masculino,1974-02-08,47,patrick65@yahoo.com,"(Decimal('37.9226295'), Decimal('30.582043'))",Air broker,RR,801.24,Agressivo,1054.60,4753.33,3579.91,21298.94,4818.91,2027.57,500.59,53.824813,10.415551,38033.85,32,yahoo.com,Detrator
15,id0000016,Sílvio Baltazar da Costa dos Santos,Masculino,1989-07-01,32,carterashley@yahoo.com,"(Decimal('-45.978957'), Decimal('-21.700752'))",Curator,MG,6.89,Agressivo,1125.35,4712.97,3525.08,19114.69,4207.58,2231.58,497.45,94.645555,60.630805,35414.70,77,yahoo.com,Neutro
35,id0000036,Helder Furnyrawo de Paula,Masculino,1978-03-02,43,veronicaarellano@yahoo.com,"(Decimal('63.353283'), Decimal('-155.687315'))",Further education lecturer,PR,6.37,Moderado,1329.72,5737.55,3321.86,21979.34,4157.66,0.00,491.15,0.163430,50.487457,37017.28,25,yahoo.com,Detrator
44,id0000045,Samara Irnocliza,Feminino,2009-12-08,12,nathan55@gmail.com,"(Decimal('-7.048226'), Decimal('-155.127318'))",Holiday representative,PR,54.49,Agressivo,934.70,0.00,3072.59,16512.83,4425.03,2059.61,493.57,73.559211,52.859882,27498.33,63,gmail.com,Neutro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38730,id0038731,Sérgio Luigi de Cabral da Cruz,Masculino,2020-11-23,1,luis48@hotmail.com,"(Decimal('-46.9546995'), Decimal('-99.211209'))",Soil scientist,DF,16.29,Moderado,1133.65,0.00,0.00,16288.00,4584.91,2082.76,502.26,26.959960,19.850953,24591.58,23,hotmail.com,Detrator
38731,id0038732,Poliana Anfisu de Souza,Feminino,1998-06-16,23,marshallanna@hotmail.com,"(Decimal('35.703024'), Decimal('101.835084'))",Emergency planning/management officer,TO,73635.59,Conservador,991.78,5352.84,0.00,25259.50,0.00,2466.57,504.43,7.365511,97.566712,34575.12,52,hotmail.com,Neutro
38738,id0038739,Celina Faeima,Feminino,1981-12-04,40,garyluna@gmail.com,"(Decimal('44.091570'), Decimal('73.962037'))","Conservation officer, nature",AP,63.99,Moderado,1281.25,5684.06,2849.14,17078.58,4830.44,0.00,500.59,0.396150,52.045951,32224.06,26,gmail.com,Detrator
38741,id0038742,Érica Suzy Raeoã,Feminino,2000-06-01,21,elizabethrobinson@gmail.com,"(Decimal('2.8160925'), Decimal('-49.085082'))",Energy engineer,AL,14.35,Agressivo,803.03,4572.09,3600.20,17170.42,4283.66,0.00,501.33,93.844274,35.839981,30930.73,64,gmail.com,Neutro
38748,id0038749,Martin Mike Ocai,Masculino,1988-11-29,33,walshshelley@yahoo.com,"(Decimal('-7.399055'), Decimal('125.807816'))",Ranger/warden,MT,7172.41,Agressivo,988.55,4744.25,0.00,17341.08,4866.52,2049.56,498.69,52.664288,73.101865,30488.65,62,yahoo.com,Neutro

### Quais investidores do sexo feminino tem mais de 25 anos e seu investimento total foi menor que 10000?
#### R) 865 investidores

In [69]:
cadastro_invest[(cadastro_invest['Sexo'] =='Feminino') & (cadastro_invest ['Total'] < 10000)]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
70,id0000071,Gabriela Eaziu,Feminino,2015-10-10,6,reginaturner@hotmail.com,"(Decimal('-80.885788'), Decimal('59.001982'))",Patent attorney,PB,9190.93,Moderado,1273.62,4670.99,2615.92,0.0,0.00,0.00,479.24,13.244855,73.281455,9039.77,43,hotmail.com,Detrator
115,id0000116,Ana de Campos dos Santos Terceiro,Feminino,2017-08-25,4,sweeneybridget@yahoo.com,"(Decimal('53.7171225'), Decimal('-90.107695'))",Medical sales representative,RS,8.49,Moderado,1019.53,0.00,0.00,0.0,4168.03,0.00,505.03,30.589906,54.052333,5692.59,42,yahoo.com,Detrator
128,id0000129,Vívian Wendy de Barboza,Feminino,2014-12-02,7,davidblanchard@hotmail.com,"(Decimal('-32.421911'), Decimal('69.219273'))",Retail banker,RS,6567.07,Agressivo,0.00,4714.40,3978.26,0.0,0.00,0.00,497.45,1.877560,75.200054,9190.11,38,hotmail.com,Detrator
203,id0000204,Selena Frias Gomes,Feminino,2000-12-13,21,donald17@hotmail.com,"(Decimal('-9.9177315'), Decimal('-73.456822'))",Pensions consultant,ES,1.94,Moderado,1186.69,4534.76,2909.59,0.0,0.00,0.00,496.13,21.224301,2.407331,9127.17,11,hotmail.com,Detrator
251,id0000252,Lara Adrielle de Lacerda,Feminino,1971-02-28,50,urice@yahoo.com,"(Decimal('79.683002'), Decimal('96.630918'))",Early years teacher,RN,73091.30,Conservador,0.00,4728.88,3886.99,0.0,0.00,0.00,502.21,29.139065,55.511991,9118.08,42,yahoo.com,Detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38550,id0038551,Suellen Beatriz Roteko,Feminino,2003-10-09,18,mckenzieanita@yahoo.com,"(Decimal('75.548447'), Decimal('77.868547'))","Scientist, research (maths)",RO,86.50,Conservador,0.00,4609.72,0.00,0.0,0.00,0.00,486.81,29.558140,76.448651,5096.53,53,yahoo.com,Neutro
38658,id0038659,Francielle Lisa da Silva Mucuman de Souza,Feminino,2000-05-12,21,qhumphrey@yahoo.com,"(Decimal('36.836033'), Decimal('85.219156'))",Occupational psychologist,RO,1797.32,Agressivo,1234.45,0.00,3611.78,0.0,0.00,2159.25,486.49,26.848500,34.490050,7491.97,30,yahoo.com,Detrator
38667,id0038668,Cristina Grusty,Feminino,1990-11-26,31,valeriegonzalez@yahoo.com,"(Decimal('45.738813'), Decimal('98.988448'))","Psychotherapist, child",AL,77.32,Agressivo,989.34,4927.98,0.00,0.0,0.00,0.00,499.43,17.466261,38.307003,6416.75,27,yahoo.com,Detrator
38678,id0038679,Mirela de Alvarenga,Feminino,1999-03-21,22,smithscott@gmail.com,"(Decimal('-3.073638'), Decimal('-160.180487'))",Sub,SE,15812.30,Conservador,1180.98,4742.24,2763.97,0.0,0.00,0.00,505.36,73.012699,6.839973,9192.55,39,gmail.com,Detrator
38719,id0038720,Beatriz Hesawa de Bezerra,Feminino,1986-09-17,35,bsaunders@gmail.com,"(Decimal('-17.3111315'), Decimal('-148.280401'))",Museum/gallery exhibitions officer,RJ,292.35,Moderado,963.52,0.00,2745.18,0.0,0.00,2009.35,481.71,34.329015,7.923016,6199.76,21,gmail.com,Detrator

### Quantos investidores tem em cada estado (dica: use groupby)

In [100]:
cadastro_invest.groupby(['Estado'])[['id']].count()

          id
Estado
AC      1435
AL      1376
AM      1495
AP      1438
BA      1484
CE      1465
DF      1470
ES      1472
GO      1394
MA      1454
MG      1407
MS      1436
MT      1390
PA      1421
PB      1405
PE      1477
PI      1503
PR      1371
RJ      1466
RN      1472
RO      1440
RR      1495
RS      1393
SC      1430
SE      1319
SP      1464
TO      1382

In [79]:
cadastro_invest

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44,yahoo.com,Detrator
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67,yahoo.com,Neutro
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54,yahoo.com,Neutro
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com,Neutro
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com,Detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36,gmail.com,Detrator
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84,hotmail.com,Promotor
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27,yahoo.com,Detrator
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77,gmail.com,Neutro
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38,hotmail.com,Detrator

### Qual é a média do total investido por promotores, detratores e neutros? E como se dividem nos estados?

In [109]:
cadastro_invest.groupby('NPS')[['Total']].mean()

                 Total
NPS
Detrator  24393.938778
Neutro    24454.770182
Promotor  24402.245930

In [117]:
cadastro_invest.groupby('Estado')[['Total']].mean()

               Total
Estado
AC      24642.861185
AL      24537.412391
AM      24773.528301
AP      24336.879082
BA      24385.786732
CE      24545.943590
DF      24678.509776
ES      24533.028614
GO      24558.723286
MA      24039.032084
MG      24037.116681
MS      24567.890954
MT      24608.940482
PA      24544.309620
PB      24376.384377
PE      23936.320325
PI      24643.333932
PR      24071.790073
RJ      24495.870962
RN      24290.504973
RO      23848.215660
RR      24443.815525
RS      24623.134451
SC      24631.664804
SE      24637.375019
SP      24333.731182
TO      24214.252938

### Crie 3 colunas "dummies" do perfil dos investidores

In [121]:
cadastro_invest [['A' , 'C' , 'M']] = pd.get_dummies(cadastro_invest['Perfil'])

In [122]:
cadastro_invest

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Media,Dominio,NPS,A,C,M
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44,yahoo.com,Detrator,0,0,1
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67,yahoo.com,Neutro,0,0,1
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54,yahoo.com,Neutro,1,0,0
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56,hotmail.com,Neutro,1,0,0
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24,yahoo.com,Detrator,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,Moderado,1001.01,5561.55,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36,gmail.com,Detrator,0,0,1
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84,hotmail.com,Promotor,0,0,1
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,Agressivo,1163.90,4911.63,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27,yahoo.com,Detrator,1,0,0
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,Conservador,0.00,5532.35,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77,gmail.com,Neutro,0,1,0
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,Moderado,981.62,4825.10,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38,hotmail.com,Detrator,0,0,1

### Crie uma tabela com total de investimentos de promotores, detratores e neutros em função do perfil. (dica: use  pivot_table)

In [124]:
pd.pivot_table(cadastro_invest, index='NPS', columns='Perfil',aggfunc=np.sum)

                 A                          Ativo01                          \
Perfil   Agressivo Conservador Moderado   Agressivo Conservador    Moderado
NPS
Detrator    6491.0         0.0      0.0  5430088.20  5651145.61  5309024.95
Neutro      5423.0         0.0      0.0  4596529.03  4440089.51  4658115.83
Promotor    1061.0         0.0      0.0   924144.07   837825.32   908727.37

              Ativo02                                Ativo03               \
Perfil      Agressivo  Conservador     Moderado    Agressivo  Conservador
NPS
Detrator  28006770.72  28751597.31  27637492.50  17094782.40  17456696.69
Neutro    23614157.15  22987999.83  23683430.42  14333060.56  14126379.16
Promotor   4654692.14   4282411.15   4461255.56   2802490.48   2583225.35

                           Ativo04                                Ativo05  \
Perfil       Moderado    Agressivo  Conservador     Moderado    Agressivo
NPS
Detrator  16832929.52  68612018.99  68935339.63  66593318.88  28823127.66
Neutro    14394302.34  57944528.32  55357277.98  57243792.51  24028045.16
Promotor   2706684.36  11008976.47  10486840.38  10951874.19   4773583.81

                       ...       Idade                  M              \
Perfil    Conservador  ... Conservador Moderado Agressivo Conservador
NPS                    ...
Detrator  29585872.00  ...      168519   165411       0.0         0.0
Neutro    23282454.14  ...      135769   140706       0.0         0.0
Promotor   4199432.73  ...       25798    26746       0.0         0.0

                      Media                               Nota1  \
Perfil   Moderado Agressivo Conservador Moderado      Agressivo
NPS
Detrator   6400.0    215169      216303   208902  217060.419742
Neutro     5460.0    339586      331008   339798  343256.090958
Promotor   1040.0     91566       84931    89631   92599.864836

                                                Nota2                 \
Perfil      Conservador       Moderado      Agressivo    Conservador
NPS
Detrator  218350.771265  213886.480094  219785.907896  220877.038338
Neutro    331173.467423  339515.479713  341368.020672  336128.733271
Promotor   85236.510935   89875.745315   91584.796232   85609.868532

                                Total
Perfil         Moderado     Agressivo   Conservador      Moderado
NPS
Detrator  210380.767013  1.588455e+08  1.611806e+08  1.553142e+08
Neutro    345476.920437  1.334772e+08  1.290392e+08  1.332107e+08
Promotor   90386.260768  2.586193e+07  2.401103e+07  2.543237e+07

[3 rows x 45 columns]